.datatable-movies-demo .p-paginator .p-paginator-current {
  margin-left: auto;
}

.datatable-movies-demo .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}

.datatable-movies-demo .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}

.datatable-movies-demo .table-header {
  display: flex;
  justify-content: center;
}

.datatable-movies-demo .p-datepicker {
  min-width: 25rem;
}

.datatable-movies-demo .p-datepicker td {
  font-weight: 400;
}

.datatable-movies-demo .p-datatable.p-datatable-movies .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.datatable-movies-demo .p-datatable.p-datatable-movies .p-paginator {
  padding: 1rem;
}

.datatable-movies-demo
  .p-datatable.p-datatable-movies
  .p-datatable-thead
  > tr
  > th {
  text-align: left;
}

.datatable-movies-demo
  .p-datatable.p-datatable-movies
  .p-datatable-tbody
  > tr
  > td {
  cursor: auto;
}

.datatable-movies-demo
  .p-datatable.p-datatable-movies
  .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

.datatable-movies-demo
  .p-datatable-movies
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 960px) {
  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-thead
    > tr
    > th,
  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }

  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-tbody
    > tr {
    border-bottom: 1px solid var(--layer-2);
  }

  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
  }

  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
  }

  .datatable-movies-demo
    .p-datatable.p-datatable-movies
    .p-datatable-tbody
    > tr
    > td
    .p-progressbar {
    margin-top: 0.5rem;
  }
}

.table-first-column-check .p-checkbox-box {
  border-radius: 30px !important;
}

.datatable-movies-demo th .p-checkbox {
  display: none;
}
